body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.tab-button {
    color: #bbb;
    width: 100%;
    font-size: 18px;
    text-align: left;
    padding-right: 0;
    padding-top: 0;
    padding-left: 0;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.menu-name {
    margin-left: 6px;
}

a.selected {
    color: #000;
    border-right: 2px solid #03a9f4;
}

a.tab-button.md-button {
    margin: 0;
}

md-sidenav md-list.tabs {
    padding-top: 0;
}

md-icon.material-icons {
    margin: 0;
}

md-list-item {
    min-height: 0;
}

md-list-item:before {
    min-height: 0;
}